:root {
  --main-font: 'Roboto', sans-serif;
  --header-font: 'Fredoka One', cursive;
  --highlight: hsl(185, 100%, 35%);
  --dark: hsl(185, 100%, 20%);
  --light: hsl(46, 81%, 62%);
    --med-light: hsl(46, 81%, 52%);
  --text: var(--dark);
  --logo: var(--dark);
  --bg: hsl(46, 81%, 90%);
  --columns: 300px 300px 300px;
  --base-margin: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--main-font);
  background-color: var(--bg);
    background: url(images/bg.png);
  color: var(--text);
 margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}


nav {
  background-color: var(--light);
  margin-bottom: 2em;
}

nav.navbar .container {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

a.logo {
    font-family: var(--header-font);
    color: var(--dark);
    font-size: 2.5em;
}

img.icon {
    max-height: 50px;
    width: auto;
}

/* .grid {
    margin: var(--base-margin) 0;
    grid-template-columns: var(--columns);
    display: grid;
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center; 
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
*/

div.single-video {
  margin-bottom: 2em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid > * {
    flex: 1 1 300px;
    margin-bottom: 2em;
}

}

p a {
  color: var(--text);
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  font-weight: bold;
}

p a:hover {
  color: var(--highlight);
}

h2 {
  color: var(--logo);
  font-size: 3em;
  font-family: var(--header-font);
}

h1, h1 a {
  font-family: var(--header-font);
  color: var(--logo);
  font-weight: normal;
  text-decoration: none;
  margin-top: 0.2em;
}

h1 a:hover {
  text-decoration: none;
  color: var(--highlight);
}

.rounded {
  max-height: 150px;
   width: auto;
}

div.tags a:link {
  font-size: 2em;
}

div.embed-responsive iframe {
  margin-bottom: 0.2em;
}

body.video .random .rounded {
   max-height: 75px;
   width: auto; 
  display: block;
}

.btn-primary {
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.btn-primary:hover {
  background-color: var(--dark);
  border-color: var(--dark);
}

body.video div.videos {
  overflow-x: auto;
  margin-bottom: 2em;
  white-space: nowrap;
}

body.video div.videos div.thumb {
  display: inline-block;
  float: none;
  margin-right: 1em;
}

div.photo h3 {
    font-family: var(--header-font);
  color: var(--logo);
}

div.photo img {
    max-width: 600px;
}

div.photo small {
    color: var(--logo);
    display: block;
}

.form-check-input {
    margin-left: 0rem;
    margin-right: 5rem;
}

@media all and (max-width: 450px) {
    :root {
        --columns: 300px;
        --base-margin: 15px;
    }
}
