{% extends "layout.html" %}
{% block title %}
{{ channel }}
{% endblock %}
{% block head %}
  {{ super() }}
<!-- head stuff here: css etc, super() renders the stuff in the parent template -->
{% endblock %}
{% block bodyclass %}
<body class="config">
{% endblock %}

{% block content %}
<!-- content stuff here -->
	 <h2>
		Configure your playlist
	</h2>
<div class="form">
  <h3>
    Enter your YouTube playlist address here
  </h3>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.playlist.label }}<br>
            {{ form.playlist(size=32) }}<br>
             {% for error in form.playlist.errors %}
            <span style="color: red;">[{{ error }}]</span>{% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

 
  </div>
	

{% endblock %}