{% extends "layout.html" %}
{% block title %}
{{ channel }}
{% endblock %}
{% block head %}
  {{ super() }}
<!-- head stuff here: css etc, super() renders the stuff in the parent template -->
{% endblock %}
{% block bodyclass %}
<body class="home">
{% endblock %}
{% block content %}
<!-- content stuff here -->
<div class="grid videos random">
    
    
    
{% for video in videos[:12] %}
  <div class="item thumb">
       
   	<a href="dev/videos/{{ video.contentDetails.videoId }}">
			<img src="http://img.youtube.com/vi/{{ video.contentDetails.videoId }}/mqdefault.jpg" class="rounded" height=180 width=320>
       </a>
     </div>
     {% endfor %}
  
 
 
  </div>

{% endblock %}