{% extends "layout.html" %}
{% block title %}
{{ channel }}
{% endblock %}
{% block head %}
  {{ super() }}
<!-- head stuff here: css etc, super() renders the stuff in the parent template -->
{% endblock %}
{% block bodyclass %}
<body class="new">
{% endblock %}
{% block content %}
<!-- content stuff here -->
	 <h2>
		Popular Videos
	</h2>
    
<div class="grid videos new">
 
 {% for video in popular_videolist[:12] %}
  <div class="item thumb">
       
   	<a href="videos/{{ video.video_id }}">
			<img src="http://img.youtube.com/vi/{{ video.page }}/mqdefault.jpg" class="rounded mx-auto">
       </a>
     </div>
     {% endfor %}
 
  </div>
	

{% endblock %}