{% extends "layout.html" %}
{% block title %}
{{ channel }}
{% endblock %}
{% block head %}
  {{ super() }}
<!-- head stuff here: css etc, super() renders the stuff in the parent template -->
{% endblock %}
{% block bodyclass %}
<body class="privacy">
{% endblock %}
{% block content %}
<!-- content stuff here -->
	 <h2>
		Privacy
	</h2>
    
<div class="text privacy">
<p>This site does not collect any personal information about its users, but it does record which pages are visited and what is watched, which is used internally, or aggregated to rank video content on some pages. </p>

<p>If you enter a suggestion of content to be added, we do not associate that with your usage history. </p>

 
 
  </div>
	

{% endblock %}